small_menu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="menu" type="menuType"/>
    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:decimal" name="price"/>
            <xs:element type="xs:string" name="description"/>
        </xs:sequence>
        <xs:attribute name="category" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="starters"/>
                    <xs:enumeration value="mains"/>
                    <xs:enumeration value="deserts"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="menuType">
        <xs:sequence>
            <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>